body{
  background-image: url("../assets/main_bg.png");
  background-size: cover;
  background-attachment: fixed;
  scrollbar-color: #412624;
  scrollbar-base-color: #8B785B;
}

@font-face {
    font-family: 'CubeFont';
    src: url('../assets/fonts/BasaltRegular-Jx3o.ttf') format('truetype');
}

.navigation {
    font: 1.5em CubeFont;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    list-style: none;
    margin: 10px;
    background: #BAAA80;
    box-shadow: 0px 0px 0px 3px #412624, 0px 0px 0px 10px #8b785b, 0px 0px 0px 15px #624e3c, 0px 0px 0px 18px #412624, 0px 3px 0px 18px rgb(0 0 0 / 19%); 
  }
  
  .navigation a {
    margin-top: -2px;
    margin-bottom: -2px;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    display: block;
    padding: 0.5em;
    color: black;
    transition: background 0.3s ease-out 0.03s;
    transition: border 0.3s ease-out 0.03s;
    border: solid transparent 2px;
  }
  
  .navigation a:hover {
    background: #8B785B ;
    color: white;
    border: solid #412624 2px;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

  .sec{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 50%;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3% ;
    margin-top: 120px;
    background-color: #BAAA80;
    box-shadow: 0px 0px 0px 3px #412624, 0px 0px 0px 10px #8b785b, 0px 0px 0px 15px #624e3c, 0px 0px 0px 18px #412624, 0px 3px 0px 18px rgb(0 0 0 / 19%);
  }

  .mysticsanct{
    color: purple;
  }

  h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }